.button {
  padding: 1em 0.5em;
}
.button a {
  background: #000000;
  color: #FFFFFF;
  padding: 1em;
  font-size: min(100%, 3vw);
  border-radius: 10%;
  text-decoration: none;
  font-weight: 600;
}
.button a:hover {
  text-decoration: underline;
}
.button-light {
  padding: 1em 0.5em;
}
.button-light a {
  background: #E8B827;
  color: #000000;
  padding: 1em;
  border-radius: 10%;
  font-size: min(100%, 3vw);
  text-decoration: none;
  font-weight: 600;
}
.button-light a:hover {
  text-decoration: underline;
}